@import './media';

*{
    padding: 0;
    margin:0;
}


.main-body{
width:100%;
height: 52rem;
background-image: linear-gradient(to top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
margin: auto;
}
.top-head{
padding-top: 30px;
}

.header{
    width: 55%;
    height: 10rem;
    margin: auto;
    border-radius: 13px;
    border: solid hsl(217, 16%, 45%) 3px;
    display: flex;
    justify-content: space-between;
    
    nav{
        margin-left: 30px;
        margin-top: 5px;
        
        h1{
            font-size: 40px;
            font-weight: 300;
            text-transform: uppercase;
            color: #fff;
        }
    }
    .counter{
        width:10rem;
        height:8rem;
        background-color: #fff;
        margin-right: 20px;
        margin-top: 13px;
        border-radius: 5px;
        h3{
           text-align: center;
           color:hsl(229, 64%, 46%);
           text-transform: uppercase;
           padding-top: 8px;
           font-size: 20px;
        }
        h1{
            font-size: 55px;
            text-align: center;
            padding-top: 8px;
            font-weight: 600;
        }
    }
}

.first-phase{
    width: 55%;
    height: 25rem;
    margin: auto;
    
    .image-holder{
        background-image: url('../images/bg-triangle.svg');
        height:15rem;
        width: 15rem;
        margin:auto;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top:-10px;
        position:relative;
        top:8rem;
        left:0rem;
        
    }
    .images{
        height: 9rem;
        width:9rem;
        border:solid rgba(0, 0, 0, 0) 40px;
        border-radius: 50%;
        position:relative;
        top:-14rem;
        left:9rem;
    }
    .images:hover{
        border:solid rgba(0, 0, 0, 0.212)  40px;
        border-radius: 50%;
        cursor: pointer;
    }

    .circle-holder-scissors{
        width:7.6rem;
        height:7.6rem;
        background-color: #fff;
        border-radius: 50%;
        border:solid hsl(39, 89%, 49%) 10px;
        margin:auto;
    }
    .circle-holder-paper{
        width:7.6rem;
        height:7.6rem;
        background-color: #fff;
        border-radius: 50%;
        border:solid hsl(230, 89%, 62%)  10px;
        margin:auto;
    }
    .circle-holder-rock{
        width:7.6rem;
        height:7.6rem;
        background-color: #fff;
        border-radius: 50%;
        border:solid hsl(349, 71%, 52%) 10px;
        margin:auto;
    }
    .paper-image-holder{
        background-image: url("../images/icon-paper.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: center;
        height:3rem;
        width:3rem;
        margin: auto;
        margin-top: 2.3rem;
    }

    
    
}
.images-scissors{
        height: 9rem;
        width:9rem;
        border:solid rgba(0, 0, 0, 0) 40px;
        border-radius: 50%;
        position:relative;
        top:-15rem;
        left:16rem;
    }
    .images-scissors:hover{
        border:solid rgba(0, 0, 0, 0.212)  40px;
        border-radius: 50%;
        cursor: pointer;
    }
.scissors-image-holder{
    background-image: url("../images/icon-scissors.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height:3rem;
    width:3rem;
    margin: auto;
    margin-top: 2.3rem;   
}

.images-rock{
    height: 9rem;
    width:9rem;
    border:solid rgba(0, 0, 0, 0) 40px;
    border-radius: 50%;
    position:relative;
    top:-42rem;
    left:23rem;
}
.images-rock:hover{
    border:solid rgba(0, 0, 0, 0.212)  40px;
    border-radius: 50%;
    cursor: pointer;
}
.rock-image-holder{
    background-image: url("../images/icon-rock.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height:3rem;
    width:3rem;
    margin: auto;
    margin-top: 2.3rem;
}


.selected{
    width: 55%;
    height: 25rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    .your-pick{
        width:50%;
        height:100%;
    }
    .game-pick{
        width:50%;
        height:100%;
        
    }
}
.picked{
    color:#fff;
    font-size:30px;

    text-align: center;
    text-transform: uppercase;
}
.image-holder{
        height: 9rem;
        width:9rem;
        border:solid rgba(0, 0, 0, 0) 40px;
        border-radius: 50%;
        position:relative;
        top:2rem;
        left:4rem;
    }
.image-holder:hover{
        border:solid rgba(0, 0, 0, 0.212)  40px;
        border-radius: 50%;
        cursor: pointer;
}
.circle-holder-1{
    width:7.6rem;
    height:7.6rem;
    background-color: #fff;
    border-radius: 50%;
    border:solid hsl(230, 89%, 62%) 10px;
    margin:auto;
}
.circle-holder-2{
    width:7.6rem;
    height:7.6rem;
    background-color: #fff;
    border-radius: 50%;
    border:solid  hsl(39, 89%, 49%) 10px;
    margin:auto;
}
.circle-holder-3{
    width:7.6rem;
    height:7.6rem;
    background-color: #fff;
    border-radius: 50%;
    border:solid hsl(349, 71%, 52%) 10px;
    margin:auto;
}


.images-1{
        background-image: url("../images/icon-paper.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: center;
        height:3rem;
        width:3rem;
        margin: auto;
        margin-top: 2.3rem;
}
.images-2{
    background-image: url("../images/icon-scissors.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height:3rem;
    width:3rem;
    margin: auto;
    margin-top: 2.3rem;
}

.images-3{
    background-image: url("../images/icon-rock.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height:3rem;
    width:3rem;
    margin: auto;
    margin-top: 2.3rem;
}
.info-text{
    color:#fff;
    font-size: 40px;
    text-align: center;
}
.play-again{
    height:4rem;
    width:10rem;
    color:hsl(214, 47%, 23%);
    background-color: #fff;
    margin:auto;
    border-radius: 18px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
    margin-left: 45%;

}
// reponsive website view
@media only screen and (max-width: 450px) {


    .main-body{
      width:100%;
      height: 900px;
      margin: auto;
      }

      .first-phase{
        width: 100%;
        height: 100%;
        
        .image-holder{
            background-image: url('../images/bg-triangle.svg');
            height:14rem;
            width: 14rem;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin-top:-10px;
            position:relative;
            top:4rem;
            
            
        }
        .images{
            height: 5rem;
            width:5rem;
            border:solid rgba(0, 0, 0, 0) 20px;
            border-radius: 50%;
            position:relative;
            top:-17rem;
            left:1rem;
        }
        .images:hover{
            border:solid rgba(0, 0, 0, 0.212)  20px;
            border-radius: 50%;
            cursor: pointer;
        }
    
        .circle-holder-scissors{
            width:6.6rem;
            height:6.6rem;
            background-color: #fff;
            border-radius: 50%;
            border:solid hsl(39, 89%, 49%) 10px;
            margin:auto;
        }
        .circle-holder-paper{
            width:6.6rem;
            height:6.6rem;
            background-color: #fff;
            border-radius: 50%;
            border:solid hsl(230, 89%, 62%)  10px;
            margin:auto;
        }
        .circle-holder-rock{
            width:6.6rem;
            height:6.6rem;
            background-color: #fff;
            border-radius: 50%;
            border:solid hsl(349, 71%, 52%) 10px;
            margin:auto;
        }
        .paper-image-holder{
            background-image: url("../images/icon-paper.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            text-align: center;
            height:2.5rem;
            width:2.5rem;
            margin: auto;
            margin-top: 2rem;
        }
    
    }  
    .images-scissors{
        height: 5rem;
        width:5rem;
        border:solid rgba(0, 0, 0, 0) 20px;
        border-radius: 50%;
        position:relative;
        top:-13rem;
        left:7rem;
    }
    .images-scissors:hover{
        border:solid rgba(0, 0, 0, 0.212)  20px;
        border-radius: 50%;
        cursor: pointer;
    }
.scissors-image-holder{
    background-image: url("../images/icon-scissors.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height:2.5rem;
    width:2.5rem;
    margin: auto;
    margin-top: 2rem;   
}

.images-rock{
    height: 5rem;
    width:5rem;
    border:solid rgba(0, 0, 0, 0) 20px;
    border-radius: 50%;
    position:relative;
    top:-32rem;
    left:13rem;
}
.images-rock:hover{
    border:solid rgba(0, 0, 0, 0.212)  20px;
    border-radius: 50%;
    cursor: pointer;
}
.rock-image-holder{
    background-image: url("../images/icon-rock.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height:2.5rem;
    width:2.5rem;
    margin: auto;
    margin-top: 2rem;
}
.selected{
    width: 100%;
    height: 30rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    .your-pick{
        width:45%;
        height:90%;
        margin-top: 10%;
        margin-left: -1rem;
    }
    .game-pick{
        width:45%;
        height:100%;
        margin-top: 10%;
        margin-left: -1rem;
    }
}
.picked{
    color:#fff;
    font-size:30px;
    text-align: center;
    text-transform: uppercase;
}
.info-text{
    text-transform: uppercase;
    word-spacing: 10px;
    text-align: center;
}
.play-again{
    height:4rem;
    width:13rem;
    color:hsl(214, 47%, 23%);
    background-color: #fff;
    margin:auto;
    border-radius: 10px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
    margin-left: 7rem;
    margin-top: 5px;
}
        .top-head{
            padding-top: 50px;
            }
            
            .header{
                width: 90%;
                height: 10rem;
                margin: auto;
                border-radius: 13px;
                border: solid hsl(217, 16%, 45%) 3px;
                display: flex;
                justify-content: space-between;
                
                nav{
                    margin-left: 30px;
                    margin-top: 5px;
                    
                    h1{
                        font-size: 30px;
                        font-weight: 300;
                        text-transform: uppercase;
                        color: #fff;
                    }
                }
                .counter{
                    width:10rem;
                    height:8rem;
                    background-color: #fff;
                    margin-right: 20px;
                    margin-top: 13px;
                    border-radius: 5px;
                    h3{
                       text-align: center;
                       color:hsl(229, 64%, 46%);
                       text-transform: uppercase;
                       padding-top: 8px;
                       font-size: 20px;
                    }
                    h1{
                        font-size: 55px;
                        text-align: center;
                        padding-top: 8px;
                        font-weight: 600;
                    }
                }
            }
            .circle-holder-1{
                width:6.6rem;
                height:6.6rem;
                background-color: #fff;
                border-radius: 50%;
                border:solid hsl(230, 89%, 62%) 10px;
                margin:start;
            }
            .circle-holder-2{
                width:6.6rem;
                height:6.6rem;
                background-color: #fff;
                border-radius: 50%;
                border:solid  hsl(39, 89%, 49%) 10px;
                margin:start;
                margin-left: -3rem;
            }
            .circle-holder-3{
                width:6.6rem;
                height:6.6rem;
                background-color: #fff;
                border-radius: 50%;
                border:solid hsl(349, 71%, 52%) 10px;
                margin:auto;
            }
            
            
            .images-1{
                    background-image: url("../images/icon-paper.svg");
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    text-align: center;
                    height:3rem;
                    width:3rem;
                    margin: auto;
                    margin-top: 2.3rem;
            }
            .images-2{
                background-image: url("../images/icon-scissors.svg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                text-align: center;
                height:3rem;
                width:3rem;
                margin: start;
                margin-top: 2.3rem;
            }
            
            .images-3{
                background-image: url("../images/icon-rock.svg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                text-align: center;
                height:3rem;
                width:3rem;
                margin: auto;
                margin-top: 2.3rem;
            }
            .image-holder-container{
                height:14rem;
                width: 14rem;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                margin-top:-10px;
                position:relative;
                top:4rem;
                
            }
           
}