* {
  padding: 0;
  margin: 0;
}

.main-body {
  width: 100%;
  height: 52rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1f3756), to(#141539));
  background-image: linear-gradient(to top, #1f3756, #141539);
  margin: auto;
}

.top-head {
  padding-top: 30px;
}

.header {
  width: 55%;
  height: 10rem;
  margin: auto;
  border-radius: 13px;
  border: solid #606e85 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header nav {
  margin-left: 30px;
  margin-top: 5px;
}

.header nav h1 {
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}

.header .counter {
  width: 10rem;
  height: 8rem;
  background-color: #fff;
  margin-right: 20px;
  margin-top: 13px;
  border-radius: 5px;
}

.header .counter h3 {
  text-align: center;
  color: #2a46c0;
  text-transform: uppercase;
  padding-top: 8px;
  font-size: 20px;
}

.header .counter h1 {
  font-size: 55px;
  text-align: center;
  padding-top: 8px;
  font-weight: 600;
}

.first-phase {
  width: 55%;
  height: 25rem;
  margin: auto;
}

.first-phase .image-holder {
  background-image: url("../images/bg-triangle.svg");
  height: 15rem;
  width: 15rem;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -10px;
  position: relative;
  top: 8rem;
  left: 0rem;
}

.first-phase .images {
  height: 9rem;
  width: 9rem;
  border: solid rgba(0, 0, 0, 0) 40px;
  border-radius: 50%;
  position: relative;
  top: -14rem;
  left: 9rem;
}

.first-phase .images:hover {
  border: solid rgba(0, 0, 0, 0.212) 40px;
  border-radius: 50%;
  cursor: pointer;
}

.first-phase .circle-holder-scissors {
  width: 7.6rem;
  height: 7.6rem;
  background-color: #fff;
  border-radius: 50%;
  border: solid #ec9e0e 10px;
  margin: auto;
}

.first-phase .circle-holder-paper {
  width: 7.6rem;
  height: 7.6rem;
  background-color: #fff;
  border-radius: 50%;
  border: solid #4865f4 10px;
  margin: auto;
}

.first-phase .circle-holder-rock {
  width: 7.6rem;
  height: 7.6rem;
  background-color: #fff;
  border-radius: 50%;
  border: solid #dc2e4e 10px;
  margin: auto;
}

.first-phase .paper-image-holder {
  background-image: url("../images/icon-paper.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 3rem;
  width: 3rem;
  margin: auto;
  margin-top: 2.3rem;
}

.images-scissors {
  height: 9rem;
  width: 9rem;
  border: solid rgba(0, 0, 0, 0) 40px;
  border-radius: 50%;
  position: relative;
  top: -15rem;
  left: 16rem;
}

.images-scissors:hover {
  border: solid rgba(0, 0, 0, 0.212) 40px;
  border-radius: 50%;
  cursor: pointer;
}

.scissors-image-holder {
  background-image: url("../images/icon-scissors.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 3rem;
  width: 3rem;
  margin: auto;
  margin-top: 2.3rem;
}

.images-rock {
  height: 9rem;
  width: 9rem;
  border: solid rgba(0, 0, 0, 0) 40px;
  border-radius: 50%;
  position: relative;
  top: -42rem;
  left: 23rem;
}

.images-rock:hover {
  border: solid rgba(0, 0, 0, 0.212) 40px;
  border-radius: 50%;
  cursor: pointer;
}

.rock-image-holder {
  background-image: url("../images/icon-rock.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 3rem;
  width: 3rem;
  margin: auto;
  margin-top: 2.3rem;
}

.selected {
  width: 55%;
  height: 25rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.selected .your-pick {
  width: 50%;
  height: 100%;
}

.selected .game-pick {
  width: 50%;
  height: 100%;
}

.picked {
  color: #fff;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.image-holder {
  height: 9rem;
  width: 9rem;
  border: solid rgba(0, 0, 0, 0) 40px;
  border-radius: 50%;
  position: relative;
  top: 2rem;
  left: 4rem;
}

.image-holder:hover {
  border: solid rgba(0, 0, 0, 0.212) 40px;
  border-radius: 50%;
  cursor: pointer;
}

.circle-holder-1 {
  width: 7.6rem;
  height: 7.6rem;
  background-color: #fff;
  border-radius: 50%;
  border: solid #4865f4 10px;
  margin: auto;
}

.circle-holder-2 {
  width: 7.6rem;
  height: 7.6rem;
  background-color: #fff;
  border-radius: 50%;
  border: solid #ec9e0e 10px;
  margin: auto;
}

.circle-holder-3 {
  width: 7.6rem;
  height: 7.6rem;
  background-color: #fff;
  border-radius: 50%;
  border: solid #dc2e4e 10px;
  margin: auto;
}

.images-1 {
  background-image: url("../images/icon-paper.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 3rem;
  width: 3rem;
  margin: auto;
  margin-top: 2.3rem;
}

.images-2 {
  background-image: url("../images/icon-scissors.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 3rem;
  width: 3rem;
  margin: auto;
  margin-top: 2.3rem;
}

.images-3 {
  background-image: url("../images/icon-rock.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 3rem;
  width: 3rem;
  margin: auto;
  margin-top: 2.3rem;
}

.info-text {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.play-again {
  height: 4rem;
  width: 10rem;
  color: #1f3756;
  background-color: #fff;
  margin: auto;
  border-radius: 18px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  margin-left: 45%;
}
/*# sourceMappingURL=index.css.map */